.mentor-wrapper {
  background-color: #e5e5e5;
  width: 100%;
  padding-top: 50px;

  p {
    color: black;
  }

  .featured {
    background-color: #ffffff;
    padding: 24px 0;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
  }
}
